/*
 * style.css -- Apogee NetModule cascading style sheet (CSS1)
 *
 * rpao-Apogee2NetModule@paonet.org
 */


body {
  background: white;
  color: black;
  font-family: Arial, sans-serif;
  margin-left: 3%; margin-right: 3%;
}


.no, hr  {
  display: none;
}


ol.withupperalpha {
  list-style-type: upper-alpha;
}


div.navsite {
  /* Apogee Logo color is #00BDD6 or rgb(0, 189, 214) */
  background: #00BDD6;
  color: black;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-style: outset;
  border-width: thin;
}


div.content  {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border: outset;
  border-width: thin;
}

